{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
# MARK: unix-like

# Ignore windows documents
Documents


{{ else if eq .chezmoi.os "darwin" -}}
# MARK: macOS

{{ else if eq .chezmoi.os "linux" -}}
# MARK: linux

{{ if contains "WSL2" .chezmoi.kernel.osrelease }}
# MARK: wsl2

{{ end }}
{{ else if eq .chezmoi.os "windows" -}}
# MARK: windows

# Ignore unix files
.vimrc
.zshrc

{{ end -}}
# MARK: ALL sys