{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
# MARK: unix-like

# Install Zsh plugins using git
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions"
    refreshPeriod = "168h"

    [".oh-my-zsh/custom/plugins/zsh-autosuggestions".clone]
        args = ["--depth", "1"]

[".oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zdharma-continuum/fast-syntax-highlighting.git"
    refreshPeriod = "168h"

    [".oh-my-zsh/custom/plugins/fast-syntax-highlighting".clone]
        args = ["--depth", "1"]

[".oh-my-zsh/custom/plugins/zsh-autocomplete"]
    type = "git-repo"
    url = "https://github.com/marlonrichert/zsh-autocomplete.git"
    refreshPeriod = "168h"

    [".oh-my-zsh/custom/plugins/zsh-autocomplete".clone]
        args = ["--depth", "1"]
[".oh-my-zsh/custom/plugins/eza"]
    type = "git-repo"
    url = "https://github.com/eza-community/eza.git"
    refreshPeriod = "168h"

    [".oh-my-zsh/custom/plugins/eza".clone]
        args = ["--depth", "1"]

{{ if eq .chezmoi.os "darwin" -}}
# MARK: macOS

# end macOS
{{ else if eq .chezmoi.os "linux" -}}
# MARK: linux

{{ if contains "WSL2" .chezmoi.kernel.osrelease }}
# MARK: wsl2

# end wsl2
{{ end }}
# end linux
{{ end }}
# end unix-like
{{ end }}

{{ if eq .chezmoi.os "windows" -}}
# MARK: windows

# end windows
{{ end -}}
# MARK: ALL sys