{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
# MARK: unix-like

# Ignore windows documents
Documents

{{ if eq .chezmoi.os "darwin" -}}
# MARK: macOS

# end macOS
{{ else if eq .chezmoi.os "linux" -}}
# MARK: linux

{{ if contains "WSL2" .chezmoi.kernel.osrelease }}
# MARK: wsl2

# end wsl2
{{ end }}
# end linux
{{ end }}
# end unix-like
{{ end }}

{{ if eq .chezmoi.os "windows" -}}
# MARK: windows

# Ignore unix files
.vimrc
.zshrc

# end windows
{{ end -}}
# MARK: ALL sys