{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
# MARK: unix-like

{{ if eq .chezmoi.os "darwin" -}}
# MARK: macOS
[edit]
    command = "code"
    args = ["--wait"]

# end macOS
{{ else if eq .chezmoi.os "linux" -}}
# MARK: linux

{{ if contains "WSL2" .chezmoi.kernel.osrelease }}
# MARK: wsl2
[edit]
    command = "/mnt/c/Program Files/Microsoft VS Code/bin/code"
    args = ["--wait"]

# end wsl2
{{ end }}
# end linux
{{ end }}
# end unix-like
{{ end }}

{{ if eq .chezmoi.os "windows" -}}
# MARK: windows
[edit]
    command = "code"
    args = ["--wait"]

# end windows
{{ end -}}
# MARK: ALL sys